/* ====================================== UNIVERSAL ====================================== */
.color-light-blue {
  color: var(--blue-light) !important;
}

.color-red-20 {
  color: var(--red-20) !important;
}

.color-white-2 {
  color: var(--white-2) !important;
}

.container {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 80px 100px 50px;
  position: relative;
  width: 100%;
}

.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  background: var(--red-100);
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(46, 60, 64, 0.4);
  box-sizing: border-box;
  padding: 22px 30px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: var(--red-dark);
}

h1.title {
  color: #ee6a51;
  font-family: 'Ubuntu', sans-serif;
  font-size: 57.6px;
  font-size: 3.6rem;
  margin-bottom: 30px;
  text-transform: capitalize;
}

h2.title {
  color: var(--primary-color);
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  margin: auto auto 44px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 65%;
}

h2.title:after {
  content: '';
  width: 100px;
  height: 4px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

p.desc {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* ===================================== RESPONSIVE ===================================== */
/* ================================= TABLET ================================= */
@media screen and (max-width: 768px) {
  /* ======================= UNIVERSAL ======================= */
  .container,
  #sec4.container {
    padding: 80px 50px 50px;
  }

  h1.title {
    font-size: 3.2rem;
  }

  h2.title {
    width: 75%;
  }
}

/* ================================= MOBILE ================================= */
@media screen and (max-width: 426px) {
  /* ======================= UNIVERSAL ======================= */
  .container,
  #sec4.container {
    padding: 80px 35px 50px;
  }

  .button {
    font-size: 0.875rem;
    padding: 14px 30px;
  }

  h1.title {
    font-size: 2.25rem;
  }

  h2.title {
    font-size: 1.5rem;
    padding: 20px 0;
    width: 100%;
  }

  p.desc {
    font-size: 1.125rem;
  }
}
