body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body main .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 50px;
}

body main .logo .img-box {
  width: 61px;
  margin-right: 26px;
}

body main .logo .img-box img {
  width: 100%;
}

body main .logo span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
}

body main form {
  background: var(--white);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 41px;
}

body main form .input-box {
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
}

body main form .input-box label {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 8px;
}

body main form .input-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  background: var(--primary-bg);
  font-size: 1rem;
}

body main form .input-box:nth-child(2) {
  margin-bottom: 54px;
}

body main form button.button {
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  color: var(--white) !important;
  outline: none;
  cursor: pointer;
}

body main form button.button:hover {
  background: var(--blue-hover) !important;
  border-color: var(--blue-hover) !important;
  opacity: 1;
}

body main form button.button:focus {
  background: var(--blue-focus) !important;
}

.bg-outer {
  position: fixed;
  z-index: -1;
}

.bg-outer img {
  width: 100%;
}

.bg-outer.bg-1 {
  top: 0;
  right: 0;
  width: 20%;
}

.bg-outer.bg-2 {
  bottom: 0;
  left: 0;
  width: 25%;
}
