/* ==================================== INITIAL SETUP ==================================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Ubuntu:wght@700&display=swap');

:root {
  --black: #000;
  --blue: #0081a7;
  --blue-light: #f2f7ff;
  --blue-light-2: #1fd8d8;
  --blue-focus: #138b8b;
  --blue-hover: #1ac0c0;
  --facebook: #1974ec;
  --green: #b7df69;
  --green-focus: #97bb52;
  --green-hover: #b0d665;
  --grey: #e9e9e9;
  --grey-20: #e9e9e9;
  --grey-40: #a8a8a8;
  --grey-60: #747474;
  --grey-80: #262626;
  --grey-100: #181818;
  --primary-bg: #f2f7ff;
  --red: #f07167;
  --teletweet: #1c9cea;
  --whatsapp: #29ac00;
  --white: #fff;
  --white-2: #fafafa;
  --yellow: #ffba00;
}

* {
  color: var(--grey-100);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-bg);
  z-index: -5;
  min-height: 100vh;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

.button {
  border-radius: 100px;
  display: block;
  font-size: 1rem;
  padding: 12px 4px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.button.red {
  color: var(--red);
  border: 1px solid var(--red);
}

.button.blue-light {
  color: var(--blue-light-2);
  border: 1px solid var(--blue-light-2);
}

.button.red:hover {
  color: var(--white);
  background: var(--red);
}

.button.blue-light:hover {
  color: var(--white);
  background: var(--blue-light-2);
}

.button.filled.yellow {
  color: var(--black);
  background: var(--yellow);
}

.button.filled.green {
  color: var(--black);
  background: var(--green);
}

.button.filled.grey {
  color: var(--white);
  background: var(--grey-60);
}

.button.filled.blue {
  color: var(--black);
  background: var(--blue);
}

.button.filled.blue-light {
  color: var(--black);
  background: var(--blue-light-2);
}

.button.filled.red {
  color: var(--black);
  background: var(--red);
}

.button.filled:hover {
  opacity: 0.8;
}

/* ====================================== SCROLLBAR ====================================== */
body::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue-light-2);
}

/* ===================================== NAVIGATION ===================================== */
/* ================================ UNIVERSAL ================================ */
nav {
  align-items: center;
  background: var(--white);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 15px 70px;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100%;
  z-index: 98;
}

nav.fixed {
  -webkit-animation: show 0.3s;
  animation: show 0.3s;
  position: fixed !important;
  top: 0;
}

/* ======================= ANIMATION ======================= */
@-webkit-keyframes show {
  0% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes show {
  0% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ================================== LOGO ================================== */
nav .logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--grey-100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

nav .logo .logo-icon {
  height: 40px;
  margin-right: 22px;
}

nav .logo .logo-icon img {
  height: 100%;
}

nav .logo span {
  font-size: 2rem;
}

/* ================================ BURGER IC ================================ */
nav .show {
  background: var(--grey-100);
  cursor: pointer;
  float: right;
  height: 5px;
  position: relative;
  margin-top: 25px;
  width: 30px;
}

nav .show:before,
nav .show:after {
  background: var(--grey-100);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
}

nav .show:before {
  top: -12px;
  width: 100%;
}

nav .show:after {
  top: 12px;
  width: 100%;
}

nav .show.black,
nav .show.black:before,
nav .show.black:after {
  background: var(--grey-100);
}

/* ================================ NAV  ITEM ================================ */
nav ul,
nav ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

nav ul {
  width: 90%;
}

nav ul div {
  width: 100%;
}

nav ul div li {
  line-height: 35px;
  list-style: none;
  margin-left: 18px;
}

nav ul div li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

nav ul div li.search {
  width: 70%;
  margin-right: 80px;
}

nav ul div li.search input {
  width: 100%;
  border: none;
  outline: none;
  background: var(--primary-bg);
  box-sizing: border-box;
  padding: 13px 21px;
  border-radius: 100px;
  font-size: 1rem;
}

nav ul div li.nav-items {
  display: flex;
  align-items: center;
}

nav ul div li.nav-items a {
  margin-right: 56px;
  display: flex;
  align-items: center;
}

nav ul div li.nav-items a:hover svg {
  fill: var(--blue-light-2);
}

nav ul div li.mo-hide {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
}

nav ul div li.mo-hide .img-box {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--grey);
}

nav ul div li.mo-hide .img-box img {
  width: 100%;
}

nav ul div li.mo-hide:hover .option {
  display: block;
}

nav ul div li.mo-hide .option {
  position: absolute;
  bottom: -140px;
  right: -50px;
  width: 200px;
  background: var(--white);
  box-sizing: border-box;
  padding: 20px;
  display: none;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

nav ul div li.mo-hide .option a.button {
  display: block;
  width: 100%;
  padding: 3px 0;
}

nav ul div li.mo-hide .option a.button.blue-light {
  color: var(--white);
  margin-bottom: 15px;
}

nav ul div li.pc-hide {
  display: none;
}

nav ul .bg {
  display: none;
}

nav ul .hide {
  font-size: 40px;
  font-size: 2.5rem;
}

nav ul .hide.black {
  color: var(--grey-100);
}

/* ================================ HIDE SHOW ================================ */
nav .show,
nav ul .hide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

/* ===================================== RESPONSIVE ===================================== */
/* ================================= TABLET ================================= */
@media screen and (max-width: 768px) {
  /* ======================= UNIVERSAL ======================= */
  body {
    width: 100vw;
  }

  nav {
    padding: 10px 50px;
  }

  /* ========================= LOGO ========================= */
  nav .logo {
    line-height: 60px;
  }

  /* ======================= NAV  ITEM ======================= */
  nav ul {
    position: relative;
    background: var(--white);
    display: block;
    height: 100vh;
    line-height: normal;
    padding: 20px 0;
    position: fixed;
    right: -100%;
    text-align: center;
    top: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    width: 100%;
    z-index: 999;
  }

  nav ul .bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: -1;
  }

  nav ul .bg img {
    width: 100%;
  }

  nav ul.primary {
    background: var(--white);
  }

  nav ul > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    /* height: 100vh; */
    margin-top: 45%;
  }

  nav ul div li.search {
    margin: 0 auto;
    width: 60%;
  }

  nav ul div li.nav-items {
    width: 60%;
    margin: 41px auto;
    display: flex;
    justify-content: space-around;
  }

  nav ul div li.mo-hide {
    display: none;
  }

  nav ul div li.pc-hide {
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 46px;
  }

  nav ul div li.pc-hide a.button.blue-light {
    color: var(--white);
  }

  nav ul div li.nav-items a {
    margin-right: 0;
  }

  nav ul .hide {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  /* ======================= HIDE SHOW ======================= */
  nav .show,
  nav ul .hide {
    display: block;
  }

  nav .show {
    margin-top: 0;
  }
}

/* ================================= MOBILE ================================= */
@media screen and (max-width: 426px) {
  /* ======================= UNIVERSAL ======================= */
  nav {
    padding: 10px 20px;
  }

  /* ========================= LOGO ========================= */
  nav .logo {
    font-size: 1.5rem;
  }

  /* ======================= BURGER IC ======================= */
  nav .show {
    height: 3px;
  }

  nav .show:before {
    top: -10px;
  }

  nav .show:after {
    top: 10px;
  }

  /* ======================= NAV  ITEM ======================= */
  nav ul div li {
    width: 80% !important;
  }

  nav ul div li a {
    font-size: 2rem;
  }

  nav ul div li.pc-hide a.button {
    padding: 6px 30px;
  }
}
