section {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 100px 70px 50px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  background: var(--white);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  width: 40%;
}

.box h2 {
  text-align: center;
  padding-bottom: 26px;
  margin-bottom: 22px;
  font-size: 1.9rem;
  position: relative;
}

.box h2::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--grey);
  position: absolute;
  bottom: 0;
  left: 0;
}

.box h4 {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.box .choices {
  margin-bottom: 30px;
}

.box .choices .answer {
  margin-bottom: 10px;
  width: fit-content;
}

.box .choices .answer.red * {
  color: var(--red);
}

.box .choices .answer.green * {
  color: var(--green);
}

.box .choices .answer.blue * {
  color: var(--blue);
}

.box .choices .answer:last-child {
  margin-bottom: 0;
}

.box .choices .answer label {
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 10px;
}

.box p {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box p span {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
}

.box a.button.blue-light.blue-light {
  color: var(--white) !important;
}

.box a.button.blue-light.blue-light,
.box button.button {
  width: 100%;
  border-radius: 10px;
  cursor: not-allowed;
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  outline: none;
}

.box button.button:hover {
  background: var(--grey-60);
  opacity: 1;
}

.box a.button.blue-light.blue-light,
.box button.button.allowed {
  background: var(--blue-light-2);
  border: 1px solid var(--blue-light-2);
  cursor: pointer;
}

.box a.button.blue-light.blue-light:hover,
.box button.button.allowed:hover {
  opacity: 0.7;
}

.box table {
  width: 100%;
  margin-bottom: 30px;
}

.box table th,
.box table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--grey-80);
}

.box table .yellow * {
  color: var(--yellow);
}

.bg-outer {
  position: fixed;
  z-index: -1;
}

.bg-outer img {
  width: 100%;
}

.bg-outer.bg-1 {
  top: 0;
  right: 0;
  width: 20%;
}

.bg-outer.bg-2 {
  bottom: 0;
  left: 0;
  width: 25%;
}

/* ===================================== RESPONSIVE ===================================== */
/* ================================= TABLET ================================= */
@media screen and (max-width: 768px) {
  .box {
    width: 70%;
  }
}

/* ================================= MOBILE ================================= */
@media screen and (max-width: 426px) {
  section {
    padding: 100px 20px 50px;
  }

  .box {
    width: 100%;
  }
}
